* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Euclid Circular';
}

#body {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    width: 99%;
    justify-content: space-evenly;
    padding: 20px 0px 50px 10px;
}

.bod {
    display: flex;
    flex-direction: column;
    width: 30%;
    /* background-color: blue; */
    margin: 10px 5px 0px 0px;
    list-style: none;
    /* height: 500px; */
    border-Radius: 50px;
    /* padding: 10px 20px 20px 20px; */
}


/* section1 */

.bod1 {
    background: #EFFDF6;
    /* Fill: Solid #D94F00; */
    padding: 40px 35px 50px 10px;
}

.bod1Img {
    padding: 0px 0px 0px 10px;
}

.bod1Text1 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #101326;
    padding: 0px 0px 0px 20px;
}

.bod1Text2 {
    color: #101326;
    mix-blend-mode: normal;
    opacity: 0.5;
    /* font-family: Euclid Circular A; */
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    padding: 21px 0px 30px 20px;
}

#content1 {
    display: flex;
    flex-direction: column;
    background-color: #E0FBED;
    border-radius: 24px;
    justify-content: flex-start;
    width: 90%;
    align-items: flex-start;
    padding: 30px 0px 30px 17px;
    margin: 0px 0px 30px 20px;
}

.content1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0px 10px 0px;
}

#content1 ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 5px;
}

.c1txt1 {
    /* font-family: Euclid Circular A; */
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: #101326;
    mix-blend-mode: normal;
    opacity: 0.4;
    padding: 0px 0px 5px 0px;
}

.c1txt2 {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    color: #101326;
}

#select {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 0px 0px 40px 20px;
}

#select a {
    background-color: #68F3A8;
    width: 95%;
    padding: 20px 0px 20px 0px;
    text-decoration: none;
    border-radius: 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: #101326;
}

#blank {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #101326;
    width: 70%;
    margin: 0px 0px 0px 20px;
    padding: 20px 0px 20px 0px;
    text-decoration: none;
    border-radius: 24px;
    color: #101326;
}


/* #blank div {
    background-color: #101326;
    width: 70%;
    padding: 20px 0px 20px 0px;
    text-decoration: none;
    border-radius: 24px;
    color: #101326;
} */


/* end of section1 */


/* section 2 */

.bod2 {
    background-color: #EFFDF6;
    padding: 52px 32px 20px 32px;
}

#gImg {
    padding: 0px 0px 32px 0px;
}

#fSearch {
    width: 100%;
    padding: 10px 0px 32px 0px;
}

#fSearch input {
    width: 100%;
    padding: 15px 20px 15px 40px;
    border-radius: 16px;
    border: 2px solid rgb(242, 248, 245);
    /* background: ; */
    mix-blend-mode: normal;
    /* opacity: 0.1; */
    /* font-family: Euclid Circular A; */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #8D9F9E;
    mix-blend-mode: normal;
    background: #E1FBEE url("./img/Group\ \(1\).png");
    background-repeat: no-repeat;
    background-position: 20px 15px;
}

#fBanks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.fBank1,
.fBank2 {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
}

.fBank1 div,
.fBank2 div {
    /* background-color: black; */
    padding: 39px;
    width: 50%;
    justify-content: center;
    /* align-items: center; */
    display: flex;
    border-radius: 24px;
}

.fBank2 {
    padding: 24px 0px 0px 0px;
}

.fBank4 {
    margin: 0px 0px 0px 23px;
    /* background-color: #083e9e33; */
    mix-blend-mode: normal;
    /* opacity: 0.2; */
}


/* end of sectiion 2 */


/* section 3 */

.bod3 {
    background: #D94F00;
    padding: 52px 32px 20px 32px;
}

.bod3Text1 {
    /* font-family: Euclid Circular A; */
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
    color: #FFFFFF;
    padding: 24px 0px 0px 0px;
}

#bod3Inp form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px 0px 32px 0px;
}

.bod3inp {
    /* width: 0%; */
    padding: 30px 20px 13px 23px;
    mix-blend-mode: normal;
    border-radius: 24px;
    border: none;
    color: #FFFFFF;
    mix-blend-mode: normal;
}

.bod3inp1 {
    /* font-family: Euclid Circular A; */
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    background: #DD6223 url("./img/GTBank\ User\ ID_.png");
    background-repeat: no-repeat;
    background-position: 25px 15px;
}

.bod3inp2 {
    /* font-family: Euclid Circular A; */
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    background: #DD6223 url("./img/Password.png");
    background-repeat: no-repeat;
    background-position: 25px 15px;
    margin: 16px 0px 0px 0px;
}

#bod3Inp button {
    background-color: #FFFFFF;
    width: 100%;
    padding: 20px 0px 20px 0px;
    /* font-family: Euclid Circular A; */
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: #202020;
    border-radius: 24px;
    border: none;
    margin: 16px 0px 0px 0px;
}


/* end of section 3 */


/* section 4 */

.bod4 {
    flex-direction: row;
    background: #EFFDF6;
    /* border-radius: 50px; */
    justify-content: space-between;
}

#left {
    display: flex;
    flex-direction: column;
}

#topleft {
    display: flex;
    flex-direction: column;
    /* justify-self: left; */
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.4;
    box-shadow: 0px 12px 53px rgba(0, 0, 0, 0.0876038);
    border-radius: 50px 0px 25px 0px;
    width: 40px;
    height: 208px;
    /* height: 180px; */
}

#right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#topright {
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.4;
    box-shadow: 0px 12px 53px rgba(0, 0, 0, 0.0876038);
    border-radius: 0px 50px 0px 25px;
    width: 40px;
    height: 265px;
    /* height: 180px; */
}

#center {
    display: flex;
    flex-direction: column;
    /* background-color: black; */
    width: 72%;
    padding: 150px 0px 0px 0px;
}

#centerBcgd {
    display: flex;
    align-self: center;
    background-image: url("img/Group.png");
    width: 166.01px;
    height: 137.08px;
    background-repeat: no-repeat;
    /* background-position: -40px -16px; */
    /* margin: 0px 50px 0px 0px; */
}

#centerBcgd img {
    padding: 10px 0px 0px 20px;
    width: 104px;
    height: 104px;
}

#centerBody {
    display: flex;
    align-self: center;
    flex-direction: row;
    padding: 50px 0px 0px 0px;
}

#midlink {
    padding: 10px 5px 0px 5px;
}

#actLinked {
    /* font-family: Euclid Circular A; */
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 41px;
    /* identical to box height */
    text-align: center;
    color: #101326;
}

#linkededMes {
    /* font-family: Euclid Circular A; */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* or 150% */
    text-align: center;
    color: #101326;
    mix-blend-mode: normal;
    opacity: 0.5;
    padding: 0px 0px 40px 0px;
}

#contAct {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
}

#contAct a {
    background-color: #68F3A8;
    width: 100%;
    padding: 15px 0px 15px 0px;
    text-decoration: none;
    border-radius: 24px;
    /* font-family: Euclid Circular A; */
    font-weight: bold;
    font-size: 16px;
    color: #101326;
}

#bod4Bot {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: auto;
    width: 85%;
}

#linkAaccount {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
}

#linkAaccount a {
    background: #D9E6E1;
    mix-blend-mode: normal;
    border-radius: 19.2px;
    width: 100%;
    padding: 15px 0px 15px 0px;
    text-decoration: none;
    border-radius: 24px;
    /* font-family: Euclid Circular A; */
    font-weight: bold;
    font-size: 12px;
    color: #101326;
}

#blank2 {
    align-self: center;
    background-color: #101326;
    width: 60%;
    padding: 2px 0px 2px 0px;
    text-decoration: none;
    border-radius: 24px;
    /* font-family: Euclid Circular A; */
    color: #101326;
    margin: 15px 0px 5px 0px;
}

#secLeft {
    margin: 18px 0px 0px 0px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.4;
    box-shadow: 0px 12px 53px rgba(0, 0, 0, 0.0876038);
    border-radius: 0px 25px 25px 0px;
    width: 14px;
    height: 265px;
}

#secRight {
    margin: 60px 0px 0px 0px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.4;
    box-shadow: 0px 12px 53px rgba(0, 0, 0, 0.0876038);
    border-radius: 25px 0px 0px 25px;
    width: 14px;
    height: 265px;
}


/* end of section 4 */